@page "/senior/{ContestId:int}"
@page "/junior/{ContestId:int}"
@using Microsoft.AspNetCore.Components.QuickGrid
@inherits BaseEurovisionPage

<div class="title">
    <EurovisionTitle Country="@Contest.Country" 
        City="@Contest.City" 
        Year="@Contest.Year"/>
</div>


<div class="data-container">
    <div class="contest-data">
        @if (!string.IsNullOrEmpty(Contest.Date)) { <p><span class="data-entry">Date:</span> @Contest.Date</p> }
        @if (!string.IsNullOrEmpty(Contest.Location)) { <p><span class="data-entry">Location:</span> @Contest.Location</p> }
        @if (!string.IsNullOrEmpty(Contest.Slogan)) { <p><span class="data-entry">Slogan:</span> @Contest.Slogan</p> }
        @if (!string.IsNullOrEmpty(Contest.Broadcasters)) { <p><span class="data-entry">Broadcasters:</span> @Contest.Broadcasters</p> }
        @if (!string.IsNullOrEmpty(Contest.Presenters)) { <p><span class="data-entry">Presenters:</span> @Contest.Presenters</p> }
        <p><span class="data-entry">Participants:</span> @Contest.Participants</p>
        @if (!string.IsNullOrEmpty(Contest.Voting)) { <p><span class="data-entry">Voting:</span> @Contest.Voting</p> }
    </div>

    @if (!string.IsNullOrEmpty(Contest.LogoUrl))
    {
        <div>
            <img src="@Contest.LogoUrl" alt="logo"/>
        </div>
    }

</div>

Results

@foreach (var round in Contest.Rounds)
{
    <div>@round.Name</div>

    <QuickGrid Items="@round.Contestants.AsQueryable()" >
        <PropertyColumn Property="@(c => c.Place)" Sortable="true" IsDefaultSort="SortDirection.Ascending" Align="Align.Left" />
        <TemplateColumn Title="Country"
            SortBy="GridSort<ContestantData>.ByAscending(c => c.CountryName)" 
            IsDefaultSort="SortDirection.Ascending"
            Align="Align.Center">
            <div>
                <img class="flag" src="@Utils.GetStaticFileUrl($"/images/flags/{context.CountryCode.ToLower()}.svg")" />
                <div>@context.CountryName</div>
            </div>
        </TemplateColumn>
        <TemplateColumn Title="Song / Artist"
            SortBy="GridSort<ContestantData>.ByAscending(c => c.Song)
                .ThenAscending(c => c.Artist)" 
            IsDefaultSort="SortDirection.Ascending" >
            <div class="song">@context.Song</div>
            <div class="artist">@context.Artist</div>
        </TemplateColumn>
        <PropertyColumn Property="@(c => c.Running)" Sortable="true" Align="Align.Center" />
        <PropertyColumn Property="@(c => c.Points)" Sortable="true" Align="Align.Center" />
    </QuickGrid>
}



<!--Location: @string.Join(", ", Contest.Arena)
Presenters: @string.Join(", ", Contest.Presenters)-->

<!--@foreach (var contestant in Contest.Rounds.First(r => r.Name == "final").Performances)
{
    <div>@contestant.Place</div>
    <div>@contestant.Scores.Sum(s => s.Points)</div>
}-->
