@page "/senior"
@page "/junior"
@inherits BaseEurovisionPage

<main>
    <div class="title">@Title</div>

    <div>
        <input type="text" placeholder="Search..." @oninput="@(args => Search(args.Value.ToString()))"/>

        <div class="contest-list">
            @foreach (var contest in Contests)
            {
                <a class="link" href=@($"{BasePath}/{contest.Year}")>
                    <div class="item-card">
                        <EurovisionTitle Country="@contest.CountryCode" 
                            City="@contest.City" 
                            Year="@contest.Year"/>
                    </div>
                </a>
            }
        </div>
    </div>
</main>

